.wrapper {
    width: 400px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.header {
    height: 100px;
    background-color: #141f40;
}
.main {
    height: 250px;
}
.left {
    float: left;
    height: 250px;
    width: 250px;
}
.leftupper {
    height: 150px;
}
.leftleft {
    height: 100%;
    width: 100px;
    background-color: #dbd403;
    float: left;
}
.leftright {
    height: 100%;
    width: 150px;
    float: right;
}
.on {
    height: 50px;
    background-color: #8c2727;
}
.under {
    height: 100px;
    background-color: #ff9e6b;
}
.leftlower {
    height: 100px;
    background-color: #0093b7;
}
.right {
    float: right;
    height: 250px;
    width: 150px;
    background-color: #80bfa8;
}
.footer {
    height: 100px;
    background-color: #d98d30;
}
* {
    margin: 0 auto;
    padding: 0;
}